<section id="footer">
    <ul class="icons">
      <li><a href="https://www.linkedin.com/in/calvin-ng-jun-xing/" target="_blank" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
      <li><a href="https://durpfish.github.io/PortfolioWebsite/" target="_blank" class="icon solid fa-globe"><span class="label">Website</span></a></li>
      <li><a href="mailto:calvinngjunxing@gmail.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
    </ul>
    <p class="copyright">&copy; <%= new Date().getFullYear() %> Calvin Ng Jun Xing. All rights reserved. Design: <a href="http://html5up.net" target="_blank">HTML5 UP</a>.</p>
</section>
  