<head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/main.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/theme.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/components.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/layout.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/main-view.css" type="text/css" />
</head>
  